<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cetak Tiket Timbang</title>
    <style>
      @page {
        size: 148mm 210mm;
        margin: 0;
      }
      body {
        width: 138mm; /* 148mm - 10mm margins */
        font-family: Consolas, monospace;
        font-size: 10pt;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        color: #000;
      }
      .header {
        text-align: center;
        margin-bottom: 3mm;
        border-bottom: 1px dashed #000;
        padding-bottom: 2mm;
      }
      .header h2 {
        margin: 0;
        font-size: 12pt;
        text-transform: uppercase;
      }
      .header p {
        margin: 2px 0 0 0;
        font-size: 10pt;
        font-weight: bold;
      }
      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1mm;
      }
      .label {
        font-weight: bold;
        text-transform: uppercase;
      }
      .value {
        text-align: right;
        text-transform: uppercase;
      }
      .divider {
        border-top: 1px dashed #000;
        margin: 2mm 0;
      }
      .footer {
        margin-top: 5mm;
        display: flex;
        justify-content: space-between;
      }
      .signature-box {
        text-align: center;
        width: 45%;
      }
      .signature-space {
        height: 12mm;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h2><%= companyName %></h2>
      <p>TIKET TIMBANG TBS INTI</p>
    </div>

    <div class="row">
      <span class="label">Ticket No</span>
      <span class="value"><%= ticket.ticket_no %></span>
    </div>
    <div class="row">
      <span class="label">SPB No</span>
      <span class="value"><%= ticket.spb_no %></span>
    </div>
    <div class="row">
      <span class="label">Vehicle No</span>
      <span class="value"><%= ticket.vehicle_no %></span>
    </div>
    <div class="row">
      <span class="label">Driver</span>
      <span class="value"><%= ticket.driver_name %></span>
    </div>

    <div class="divider"></div>

    <div class="row">
      <span class="label">Estate</span>
      <span class="value"><%= ticket.estate_code %></span>
    </div>
    <div class="row">
      <span class="label">Division</span>
      <span class="value"><%= ticket.division_code %></span>
    </div>
    <div class="row">
      <span class="label">Unit Type</span>
      <span class="value"><%= ticket.unit_type %></span>
    </div>
    <div class="row">
      <span class="label">Year Plant</span>
      <span class="value"><%= ticket.year_plant %></span>
    </div>

    <div class="divider"></div>

    <div class="row">
      <span class="label">Entry Time</span>
      <span class="value"><%= ticket.entry_time_formatted %></span>
    </div>
    <div class="row">
      <span class="label">Exit Time</span>
      <span class="value"><%= ticket.exit_time_formatted %></span>
    </div>

    <div class="divider"></div>

    <div class="row">
      <span class="label">Gross Weight</span>
      <span class="value"><%= ticket.gross_weight %> KG</span>
    </div>
    <div class="row">
      <span class="label">Tare Weight</span>
      <span class="value"><%= ticket.tare_weight %> KG</span>
    </div>
    <div class="row">
      <span class="label">Bruto</span>
      <span class="value"><%= ticket.bruto %> KG</span>
    </div>
    <div class="row">
      <span class="label">Netto</span>
      <span class="value"><%= ticket.netto %> KG</span>
    </div>

    <div class="divider"></div>

    <div class="row">
      <span class="label">Note</span>
      <span class="value"><%= ticket.note || '-' %></span>
    </div>
    <div class="row">
      <span class="label">Created By</span>
      <span class="value"><%= ticket.created_by %></span>
    </div>

    <div class="footer">
      <div class="signature-box">
        <div>Sopir / Driver</div>
        <div class="signature-space"></div>
        <div>( .................... )</div>
      </div>
      <div class="signature-box">
        <div>Operator Timbangan</div>
        <div class="signature-space"></div>
        <div>( <%= ticket.created_by %> )</div>
      </div>
    </div>

    <script>
      window.onload = function () {
        window.print();
      };
    </script>
  </body>
</html>
